body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.title1st {
    text-align: center;
}

.icon img {
    padding-left: 85px;
    width: 90px;
    height: 70px;
}

.icon p {
    padding-left: 30px;
    font-size: 20px;
    width: 330px;
}

.container {
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: end;
    text-decoration: no underline;
}

.box {
    color:rgb(0, 0, 0);
    width: 7rem;
    height: 2rem;
    margin: 1rem;
    background-color: rgb(255, 255, 255);
    text-decoration: no underline;
}

.box-a:hover {
    color: aqua;
}
